<h1>Hello, this is a tool for compiling WebAssembly</h1>

    <div>
      Click 
        <a href='{{ source }}'>here</a>
      for the source
    </div>

    <script src="//{{ host }}/script.js"></script>

    <textarea cols=80 rows=15 id="code"
      style="
        font-family: Verdana, Geneva, sans-serif;
        background-color: #EEFF99; padding: 5px; margin: 5px"
      onkeyup="onCodeUpdate()">{{ code }}</textarea>

    <script>
      let exportFunctions;
      let lastCodeValue = null;
      function onCodeUpdate() {
        if(lastCodeValue !== document.getElementById('code').value) {
          lastCodeValue = document.getElementById('code').value;
          add = null;
          compile(document.getElementById('code').value, exports => {
            exportFunctions = exports;
            updateEports(exportFunctions);
          });
        }
      }
      onCodeUpdate();

      function updateEports(exports) {
        const divExport = document.getElementById('export');
        divExport.innerHTML = '';
        for (let id in exports) {
          if (typeof exports[id] === 'function') {
            const func = exports[id];
            const div = divExport.appendChild(document.createElement('div'));
            div.appendChild(document.createTextNode(`${id} (`));
            const inputs = [];
            for(let i=0; i<func.length; i++) {
              if(i!==0) {
                div.appendChild(document.createTextNode(','));
              }
              const input = div.appendChild(document.createElement('input'));
              inputs.push(input);
            }
            div.appendChild(document.createTextNode(') ='));
            const result = div.appendChild(document.createElement('span'));

            inputs.forEach(input => {
              input.value = Math.floor(Math.random() * 100);
              input.addEventListener('keyup', () => {
                onChange(inputs, result, func);
              });
            });
            onChange(inputs, result, func);
          }
        }
      }

      function onChange(inputs,result,func) {
        result.innerText = func.apply(null, inputs.map(input => input.value));
      }
    </script>

    <div id="export">
    </div>