function compile(code, callback) {
  const obj = {};
  const url = '{{ protocol }}://{{ host }}/compile?code=';
  WebAssembly.instantiateStreaming(fetch(url + encodeURIComponent(code)), {})
    .then(({instance}) => {
      for(let i in instance.exports) {
        obj[i] = instance.exports[i];
      }
      if(callback) {
        callback(obj);
      }
    })
    .catch(error => {
    });
  return obj;
}